* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(9deg, rgba(2, 0, 36, 1) 0%, rgba(116, 101, 177, 1) 78%, rgba(187, 103, 255, 1) 100%);
  color: rgb(255, 255, 255);
}